html {
    padding: 20px;
}
body {
    padding: 20px 20vw;
    border: blueviolet solid 2px;
    border-radius: 20px;
}

p {
    text-align: center;
    padding: 10px 5px;
    box-shadow: black 3px 3px 6px 1px;
    border-radius: 8px;
}

div {
    margin-top: 20px;
}