<!DOCTYPE html>
<html>
    <head>
        <title>Code</title>
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad()</script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <meta charset="UTF-8"/>
    </head>
    <body>
        <p><span id="load_date" th:text="${code.getDate()}"></span></p>
        <p th:if="${code.isViewsRestricted()}"><span id="views_restriction" th:text="${code.getViews()}"></span> more views allowed</p>
        <p th:if="${code.isTimeRestricted()}">The code will be available for <span id="time_restriction" th:text="${code.getTime()}"></span> seconds</p>
        <pre id="code_snippet"><code th:text="${code.getCode()}"></code></pre>
    </body>
</html>
